html,
body{
    font-family: 'Roboto', sans-serif;
    background-color:green;
    height:100%;
    width:100%;
    margin:0;
    padding:0;
}

button:focus{
    outline:0;
    
}

/*.overlay{
    position:fixed;
    width:100%;
    height:100%;
    opacity:0.5;
    text-align:center;
    margin-toP:50%;
    margin-bottom:50%;
    font-size:50px;
}*/

.cardCountCont{
    float:left;
}

.hands{
    display:flex;
    justify-content:center;
    flex-wrap:wrap; 
    height:20%;
    width:100%;
}

#playerCards{
     cursor:pointer;
}

.cardBttns{
    background-color:green;
    border:none;
    margin:15px;
    height:100px;
    width:75px;
}

#midCont{
    display:flex;
    justify-content:center;
    width:100%;
    height:25%;
}

#deckCont{
    display:flex;
    justify-content:center;
}

.matches{
    display:flex;
    justify-content:center;
    flex-wrap:wrap;
    width:100%;
    height:10%;
}

.cards,
#deck{
    height:100px;
    width:75px;
    margin:10px;
}